<div class="body flex flex-col w-full h-full p-2">
<div class="pb-5">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="./assets/img/usuario.png" width="50%">
            <h1>Login</h1>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="user">
            </mat-form-field>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <div>
                <button type="submit" class="boton" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
            </div>
        </form>
    </div>
</div>
</div>