<mat-card class="example-card">
    <mat-card-title>{{ tituloCurso }}</mat-card-title>
    <mat-card-subtitle>Dictador por: {{ profesor }}</mat-card-subtitle>
    <mat-card-content>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt maxime numquam enim beatae necessitatibus eligendi sapiente veritatis a!</p>
      <b>Calificación: {{ calificacion }}</b>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>

  
