<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark border border-light border-end border-opacity-10 h-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-3">Menú</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto h6 mt-3">
      <li class="nav-item">
        <a href="#" class="nav-link text-white btn-personalizado mb-2" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white btn-personalizado mb-2">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Alumnos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white btn-personalizado mb-2">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Cursos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white btn-personalizado mb-2">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Clases
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white btn-personalizado">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Contacto
        </a>
      </li>
    </ul>
    <hr>
  </div>