<div>
    <div class="presentacion pt-5 pe-5">
        <div class=" titulo px-5 mx-5 pt-5">
            <h1 class="pt-5">Bienvenido</h1>
            <p class="pt-1">Le damos la cordial bienvenida a nuestro sitio web.</p>
            <div class="text-left pt-2">
                <button type="button" routerLink="/inscripciones" class="btn btn-success">Inscribirse</button>
            </div>
        </div>
        <div class="imagen">
            <img src="./assets/img/codificacion.png">
        </div>
    </div>
</div>