<!--     <div class="container-fluid h-100">
        <div class="row h-100">
            <app-navbar class="col-lg-2 px-0 pe-0"></app-navbar>
        </div>
        <div>
            <app-toolbar class="col-lg-10 px-0 pe-0 h-25"></app-toolbar>
        </div>
        <app-listadealumnos></app-listadealumnos>
    </div> -->

   <!--  <ul>
        <li *ngFor="let alumno of alumnos">
            <p> Nombre: {{ alumno["nombre"] }}</p>
            <p> Apellido: {{ alumno["apellido"] }}</p>
        </li>
    </ul> -->
 
    <app-toolbar></app-toolbar>

    <!-- <app-formularioinscripcion class="col-lg-10 pt-5 w-25 h-25"></app-formularioinscripcion>x -->
    
    <div class="container-fluid h-100">
        <div class="row h-100">
            <app-navbar class="col-lg-2 px-0 pe-0 h-100"></app-navbar>
            <app-listadealumnos class="col-lg-10 pt-5"></app-listadealumnos>
        </div>
    </div>
    
