

<button mat-button (click)="openDialog()" class="btn btn-success mb-3">Añadir Alumno</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th appTamanofuente mat-header-cell *matHeaderCellDef> Nombre Completo</th>
    <!-- <td mat-cell *matCellDef="let element"> {{element.nombre}} </td> -->
    <td mat-cell *matCellDef="let element">{{ null | nombreapellido:element.nombre : element.apellido }} </td> -->
  </ng-container>

  <!-- Rut Column -->
  <ng-container matColumnDef="rut">
    <th appTamanofuente mat-header-cell *matHeaderCellDef> Rut </th>
    <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
  </ng-container>
  
  <!-- Telefono Column -->
  <ng-container matColumnDef="telefono">
      <th appTamanofuente mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th appTamanofuente mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
      <th appTamanofuente mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" class="text-center">
          <a class="iconsTable" style="color: #212529;">
              <mat-icon class="btn-edit" (click)="openDialogEdit(element)">edit</mat-icon>
          </a>
          <a class="iconsTable" style="color: #dc3545;">
              <mat-icon class="btn-delete" (click)="deleteUser(element)">delete</mat-icon>
          </a>

      </td>
    </ng-container>    

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>